
#logo {
	background: #151515 !important;
}

#container, #content {
	background: #151515	!important;
	color: #87a85c !important;
}

a:link {
	color: #43442B !important;
}

.thead, .thead a:link {
	background: #87a85c !important;
	color: #ffffff !important;
}

.trow1 {
	background: #ffffff !important;
}

.button, a.button:link, a.button:hover, a.button:visited, a.button:active {
	color: #ffffff !important;
	background: #43442B !important;
}

#footer .upper .theme, #debug {
	display: none !important;
}

dd {
	color: 	#87a85c !important;
}

em {
	color: 	#43442B !important;
}

#panel .lower, #footer .upper {
	background: #ffffff !important;
}

#panel .lower a:link, #panel .lower a:visited, #panel .lower a:hover, #panel .lower a:active, #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
	color: 	#43442B !important;
}

#logo ul.top_links a:link, #panel .upper a:link, #panel .upper a:visited, #panel .upper a:hover, #panel .upper a:active, .navigation a:link, .navigation .active, .tcat a:link {
	color: 	#87a85c !important;
}

table {
	padding: 5px !important;
	background: #ffffff !important;
}

